/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */
.grid:after, .main__content:after, .container_center:after, .footer:after, .header:after, .homeSlider:after {
  content: '';
  display: table;
  clear: both; }

.grid:before {
  content: '';
  display: table;
  clear: both; }

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DINPro/DINPro.eot?") format("eot"), url("../fonts/DINPro/DINPro.woff2") format("woff2"), url("../fonts/DINPro/DINPro.woff") format("woff"), url("../fonts/DINPro/DINPro.ttf") format("truetype"), url("../fonts/DINPro/DINPro.svg#DIN_Pro") format("svg"); }

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/DINPro/DINPro-Light.eot?") format("eot"), url("../fonts/DINPro/DINPro-Light.woff2") format("woff2"), url("../fonts/DINPro/DINPro-Light.woff") format("woff"), url("../fonts/DINPro/DINPro-Light.ttf") format("truetype"), url("../fonts/DINPro/DINPro-Light.svg#DIN_Pro") format("svg"); }

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/DINPro/DINPro-Medium.eot?") format("eot"), url("../fonts/DINPro/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro/DINPro-Medium.svg#DIN_Pro") format("svg"); }

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DINPro/DINPro-Bold.eot?") format("eot"), url("../fonts/DINPro/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro/DINPro-Bold.svg#DIN_Pro") format("svg"); }

/* Global variables */
/* ======================================================================== */
/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
@font-face {
  font-family: 'zsmk';
  src: url("../fonts/zsmk/zsmk.eot?dh0tdo");
  src: url("../fonts/zsmk/zsmk.eot?dh0tdo#iefix") format("embedded-opentype"), url("../fonts/zsmk/zsmk.ttf?dh0tdo") format("truetype"), url("../fonts/zsmk/zsmk.woff?dh0tdo") format("woff"), url("../fonts/zsmk/zsmk.svg?dh0tdo#zsmk") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zsmk' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-etc:before {
  content: "\e907"; }

.icon-chevron-right:before {
  content: "\e908"; }

.icon-borer:before {
  content: "\e901"; }

.icon-cleaner:before {
  content: "\e902"; }

.icon-drill:before {
  content: "\e903"; }

.icon-prix:before {
  content: "\e904"; }

.icon-prix-l:before {
  content: "\e905"; }

.icon-step:before {
  content: "\e906"; }

.icon-check-o:before {
  content: url("../img/check-o.png"); }

.icon-arrow-right:before {
  content: "\e900"; }

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Material/MaterialIcons-Regular.eot?") format("eot"), url("../fonts/Material/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/Material/MaterialIcons-Regular.woff") format("woff"), url("../fonts/Material/MaterialIcons-Regular.ttf") format("truetype"), url("../fonts/Material/MaterialIcons-Regular.svg#Material_Icons") format("svg"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga'; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .wrapper {
  height: 100%;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "DIN Pro";
  color: #cdcdcd;
  line-height: 1.2; }

/**
 * Add the correct display in IE 9-.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }
  a:focus {
    outline: 0; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime],
textarea {
  background-color: #111;
  border: 1px solid transparent;
  padding: 0.5em 2.2em 0.6em;
  outline: none;
  font-size: .8em;
  font-weight: 400;
  font-family: "DIN Pro";
  border-radius: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #cdcdcd; }
  input:not([type]):hover,
  input[type=text]:hover,
  input[type=password]:hover,
  input[type=email]:hover,
  input[type=url]:hover,
  input[type=search]:hover,
  input[type=tel]:hover,
  input[type=number]:hover,
  input[type=datetime]:hover,
  textarea:hover {
    border: 1px solid transparent;
    background-color: #111; }
  input:not([type]):focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=datetime]:focus,
  textarea:focus {
    border: 1px solid transparent;
    background-color: #141414; }
    input:not([type]):focus::-webkit-input-placeholder,
    input[type=text]:focus::-webkit-input-placeholder,
    input[type=password]:focus::-webkit-input-placeholder,
    input[type=email]:focus::-webkit-input-placeholder,
    input[type=url]:focus::-webkit-input-placeholder,
    input[type=search]:focus::-webkit-input-placeholder,
    input[type=tel]:focus::-webkit-input-placeholder,
    input[type=number]:focus::-webkit-input-placeholder,
    input[type=datetime]:focus::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder {
      color: rgba(205, 205, 205, 0.5); }
    input:not([type]):focus:-moz-placeholder,
    input[type=text]:focus:-moz-placeholder,
    input[type=password]:focus:-moz-placeholder,
    input[type=email]:focus:-moz-placeholder,
    input[type=url]:focus:-moz-placeholder,
    input[type=search]:focus:-moz-placeholder,
    input[type=tel]:focus:-moz-placeholder,
    input[type=number]:focus:-moz-placeholder,
    input[type=datetime]:focus:-moz-placeholder,
    textarea:focus:-moz-placeholder {
      color: rgba(205, 205, 205, 0.5); }
    input:not([type]):focus::-moz-placeholder,
    input[type=text]:focus::-moz-placeholder,
    input[type=password]:focus::-moz-placeholder,
    input[type=email]:focus::-moz-placeholder,
    input[type=url]:focus::-moz-placeholder,
    input[type=search]:focus::-moz-placeholder,
    input[type=tel]:focus::-moz-placeholder,
    input[type=number]:focus::-moz-placeholder,
    input[type=datetime]:focus::-moz-placeholder,
    textarea:focus::-moz-placeholder {
      color: rgba(205, 205, 205, 0.5); }
    input:not([type]):focus:-ms-input-placeholder,
    input[type=text]:focus:-ms-input-placeholder,
    input[type=password]:focus:-ms-input-placeholder,
    input[type=email]:focus:-ms-input-placeholder,
    input[type=url]:focus:-ms-input-placeholder,
    input[type=search]:focus:-ms-input-placeholder,
    input[type=tel]:focus:-ms-input-placeholder,
    input[type=number]:focus:-ms-input-placeholder,
    input[type=datetime]:focus:-ms-input-placeholder,
    textarea:focus:-ms-input-placeholder {
      color: rgba(205, 205, 205, 0.5); }
  input:not([type]).input_error,
  input[type=text].input_error,
  input[type=password].input_error,
  input[type=email].input_error,
  input[type=url].input_error,
  input[type=search].input_error,
  input[type=tel].input_error,
  input[type=number].input_error,
  input[type=datetime].input_error,
  textarea.input_error {
    background-color: #fff0f0;
    border: 1px solid red; }
  input:not([type])::-webkit-input-placeholder,
  input[type=text]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=number]::-webkit-input-placeholder,
  input[type=datetime]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: rgba(205, 205, 205, 0.7);
    font-weight: 400; }
  input:not([type]):-moz-placeholder,
  input[type=text]:-moz-placeholder,
  input[type=password]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=url]:-moz-placeholder,
  input[type=search]:-moz-placeholder,
  input[type=tel]:-moz-placeholder,
  input[type=number]:-moz-placeholder,
  input[type=datetime]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: rgba(205, 205, 205, 0.7);
    font-weight: 400; }
  input:not([type])::-moz-placeholder,
  input[type=text]::-moz-placeholder,
  input[type=password]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=url]::-moz-placeholder,
  input[type=search]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=number]::-moz-placeholder,
  input[type=datetime]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: rgba(205, 205, 205, 0.7);
    font-weight: 400; }
  input:not([type]):-ms-input-placeholder,
  input[type=text]:-ms-input-placeholder,
  input[type=password]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=url]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder,
  input[type=number]:-ms-input-placeholder,
  input[type=datetime]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: rgba(205, 205, 205, 0.7);
    font-weight: 400; }
  @media (max-width: 767px) {
    input:not([type]),
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=search],
    input[type=tel],
    input[type=number],
    input[type=datetime],
    textarea {
      padding: 0.3em 2.2em 0.6em;
      font-size: 0.7em; } }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=checkbox],
input[type=radio] {
  padding: 0; }

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
  cursor: pointer; }

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaa;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
  background: 0 0;
  text-align: center;
  position: relative; }

input[type=radio] {
  border-radius: 50%; }

input[type=checkbox]:before,
input[type=radio]:before {
  display: block; }

input[type=radio]:checked:before {
  content: '';
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #000; }

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
  content: "\2714";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 13px;
  color: #000; }

input[type=checkbox]:indeterminate:before {
  content: "\f068"; }

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  border-color: #ddd; }

input[type=radio]:disabled:checked:before {
  background-color: #aaa; }

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa; }

.button {
  color: #cdcdcd;
  font-family: "DIN Pro";
  font-size: 0.7em;
  font-weight: 700;
  padding: 1em 1.6em 1.2em;
  border: 2px solid #858585;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  border-radius: 5em;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none; }
  .button:hover {
    color: #ff8a00;
    border-color: #ff8a00;
    text-decoration: none; }
  .button:focus, .button:active {
    color: #000; }
  .button__primary {
    background-color: #686868;
    border-color: #686868;
    color: #ffffff; }
    .button__primary:hover {
      background-color: #565656;
      color: #ffffff; }
    .button__primary:focus, .button__primary:active {
      background-color: #4f4f4f;
      color: #ffffff; }
  .button__success {
    background-color: #ff8a00;
    border-color: #ff8a00;
    color: #ffffff; }
    .button__success:hover {
      background-color: #db7700;
      color: #ffffff; }
    .button__success:focus, .button__success:active {
      background-color: #cc6e00;
      color: #ffffff; }
  .button__info {
    background-color: #cecece;
    border-color: #cecece;
    color: #ffffff; }
    .button__info:hover {
      background-color: #bcbcbc;
      color: #ffffff; }
    .button__info:focus, .button__info:active {
      background-color: #b5b5b5;
      color: #ffffff; }
  .button__warning {
    background-color: #fca33e;
    border-color: #fca33e;
    color: #ffffff; }
    .button__warning:hover {
      background-color: #fb921b;
      color: #ffffff; }
    .button__warning:focus, .button__warning:active {
      background-color: #fb8b0c;
      color: #ffffff; }
  .button__danger {
    background-color: #ff1a1a;
    border-color: #ff1a1a;
    color: #ffffff; }
    .button__danger:hover {
      background-color: #f50000;
      color: #ffffff; }
    .button__danger:focus, .button__danger:active {
      background-color: #e60000;
      color: #ffffff; }
  @media (max-width: 767px) {
    .button {
      font-size: 0.6em; } }

.form__row {
  margin-bottom: 0.4em; }

.form__field {
  width: 100%; }

.form__legend {
  margin-bottom: 0.9em; }

.form textarea {
  min-height: 4.9em;
  max-width: 100%;
  min-width: 100%; }

.form .button {
  width: 100%;
  margin-top: 0.7em; }

@media (max-width: 767px) {
  .form__legend {
    font-size: 0.8em;
    margin-bottom: 0.9em; }
  .form__row {
    margin-bottom: 0.3em; }
  .form textarea {
    min-height: 4.6em; } }

.grid {
  margin-left: -20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  html[data-browser*="flexible"] .grid {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex; }
    html[data-browser*="flexible"] .grid > div {
      display: block; }
  html[data-browser*="not-flex"] .grid {
    display: block;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px; }
    html[data-browser*="not-flex"] .grid > div {
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      line-height: 1.2;
      font-size: 1.1em; }
  html[data-browser*="flexible"] .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  html[data-browser*="flexible"] .grid-nowrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .grid > div {
    padding-left: 20px;
    margin-bottom: 20px; }
    .grid > div.width_1 {
      width: 50%; }
    .grid > div.width_2 {
      width: 50%; }
    .grid > div.width_3 {
      width: 33.3%; }
    .grid > div.width_4 {
      width: 25%; }
    .grid > div.width_5 {
      width: 20%; }
    .grid > div.width_2_3 {
      width: 66%; }
    .grid > div.width_3_4 {
      width: 75%; }
  .grid__1 > div {
    width: 100%; }
  .grid__2 > div {
    width: 50%; }
  .grid__3 > div {
    width: 33.3%; }
  .grid__4 > div {
    width: 25%; }
  .grid__5 > div {
    width: 20%; }

[data-grid-match] .grid__item {
  background-color: #eee; }

@media (max-width: 991px) {
  .grid__4 > div {
    width: 50%; } }

.wrapper {
  font-size: 1.1em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #0c0c0c;
  margin: 0 auto -4.4em auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top; }

a {
  color: #cdcdcd;
  text-decoration: none; }
  a:hover {
    color: #ff8a00; }

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
  padding-bottom: 4.4em;
  padding-top: 5.57em; }
  @media (max-width: 767px) {
    .main__content {
      padding-top: 65px; } }

.container_center {
  max-width: 1203px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.column {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-width: 300px;
  column-width: 300px; }

.txt__center {
  text-align: center; }
  .txt__center a {
    color: #ff8a00;
    text-decoration: none; }
    .txt__center a:hover {
      color: #cdcdcd; }

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  position: relative;
  color: #686868;
  height: 4.4em;
  font-size: 0.8em;
  letter-spacing: 0.01em; }
  .footer a {
    color: #686868;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }
  .footer .container_center {
    padding-top: 1em;
    padding-bottom: 10px;
    max-width: 1296px; }
  .footer__left {
    float: left; }
  .footer__right {
    overflow: hidden;
    text-align: right;
    margin-right: 0.2em; }
    .footer__right i {
      margin-left: 0.5em;
      vertical-align: middle;
      font-size: 1.4em; }
  @media (max-width: 767px) {
    .footer {
      color: #cdcdcd; }
      .footer__left {
        float: none; }
      .footer__right {
        display: none; } }

.soc {
  float: left; }
  .soc a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3ss;
    -o-transition: all 0.3ss;
    transition: all 0.3ss; }
    .soc a:hover {
      opacity: .8; }
    .soc a:before {
      content: 'soc';
      color: #fff;
      text-decoration: none; }

.breadcrumb {
  margin: 0 0.7em 0.4em;
  padding: 0; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: baseline; }
    .breadcrumb li:not(:first-child):before {
      content: "\e908";
      font-family: "zsmk";
      display: inline-block;
      font-size: 0.8em;
      margin: 0 .3em;
      vertical-align: middle; }
    .breadcrumb li:last-child a {
      cursor: default;
      text-decoration: none;
      color: #686868; }
      .breadcrumb li:last-child a:hover {
        color: #686868; }
    .breadcrumb li a {
      font-size: 0.7em;
      color: #cdcdcd;
      text-decoration: none; }
      .breadcrumb li a:hover {
        color: #ff8a00; }
  @media (max-width: 767px) {
    .breadcrumb {
      display: none; } }

.pagination {
  margin: 25px 0;
  padding: 0; }
  .pagination li {
    display: inline-block; }
    .pagination li a {
      display: block;
      text-align: center; }
    .pagination li.prev a:before {
      content: '<'; }
    .pagination li.next a:before {
      content: '>'; }

/* Header
 ----------------------------------------------------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.7em 0 0.9em;
  z-index: 20;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .header__left {
    float: left;
    margin-top: 1.15em;
    margin-left: 0.7em; }
  .header__right {
    float: right;
    margin-top: 1.15em;
    margin-right: 0.7em; }
  .header__link {
    font-size: 0.8em;
    color: #cdcdcd;
    font-weight: 700;
    text-decoration: none;
    margin-left: 4.1em;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .header__link:hover {
      color: #ff8a00; }
    .header__link_contact {
      text-transform: uppercase; }
    .header__link i {
      font-size: 1em;
      vertical-align: bottom;
      margin-right: 0.4em;
      color: #cecece; }
  .header__center {
    display: block;
    overflow: hidden;
    text-align: center; }
  .header__logo {
    display: inline-block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 3.8em; }
    .header__logo:hover {
      opacity: .8; }
  @media (max-width: 767px) {
    .header {
      padding: 15px 0; }
      .header__left {
        margin-left: 0;
        margin-top: 3px; }
      .header__right {
        margin-right: 0;
        margin-top: 5px; }
      .header__link {
        font-size: 0;
        margin-left: 19px; }
        .header__link i {
          font-size: 17px;
          margin-right: 0;
          color: #cdcdcd; }
        .header__link_contact {
          display: none; }
      .header__logo {
        width: auto;
        padding-left: 48px; }
        .header__logo img {
          width: 34px; } }

.stiky {
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0c0c0c), color-stop(60%, #0c0c0c), color-stop(80%, rgba(12, 12, 12, 0.8)), color-stop(90%, rgba(12, 12, 12, 0.5)), to(transparent));
  background: -webkit-linear-gradient(top, #0c0c0c, #0c0c0c 60%, rgba(12, 12, 12, 0.8) 80%, rgba(12, 12, 12, 0.5) 90%, transparent 100%);
  background: -o-linear-gradient(top, #0c0c0c, #0c0c0c 60%, rgba(12, 12, 12, 0.8) 80%, rgba(12, 12, 12, 0.5) 90%, transparent 100%);
  background: linear-gradient(to bottom, #0c0c0c, #0c0c0c 60%, rgba(12, 12, 12, 0.8) 80%, rgba(12, 12, 12, 0.5) 90%, transparent 100%); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.navbar {
  list-style: none;
  padding: 0;
  margin: 0; }
  .navbar__item {
    display: inline-block;
    margin-right: 3.4em; }
  .navbar__link {
    font-size: 0.8em;
    color: #cdcdcd;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .navbar__link:hover {
      color: #ff8a00; }
    .navbar__link .icon-arrow-right {
      font-size: 1.3em;
      vertical-align: sub;
      margin-left: 0.4em;
      color: #ff8a00; }
  @media (max-width: 767px) {
    .navbar {
      margin-bottom: 58px; }
      .navbar__item {
        display: block;
        margin-right: 0;
        margin-bottom: 29px; }
      .navbar__link {
        display: block;
        font-size: 1.8em; } }

.mobile__toggle {
  display: none; }

.mobile__logo {
  display: none; }

@media (max-width: 767px) {
  .mobile__toggle {
    display: block;
    position: relative;
    z-index: 13;
    margin: 6px 4px;
    width: 16px;
    height: 12px;
    border-top: 2px solid; }
    .mobile__toggle:before, .mobile__toggle:after {
      content: '';
      position: absolute;
      width: 100%;
      border-top: 2px solid; }
    .mobile__toggle:before {
      top: 3px; }
    .mobile__toggle:after {
      top: 8px; }
    .mobile__toggle.active {
      border-top: 0; }
      .mobile__toggle.active:before, .mobile__toggle.active:after {
        top: 50%; }
      .mobile__toggle.active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .mobile__toggle.active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .mobile__logo {
    display: block;
    text-align: center; }
    .mobile__logo img {
      width: 46px; }
  .mobile__nav_wrap {
    display: block;
    position: absolute;
    text-align: center;
    top: -700px;
    left: 0;
    width: 100%;
    padding: 88px 20px 69px;
    background-color: #0c0c0c;
    z-index: 10;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .mobile__nav_wrap.open {
      display: block;
      top: 0; }
  .mobile__backdoor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5); } }

.home .wrapper {
  background-image: url(../img/home-bg.jpg);
  background-position: left top; }
  @media (max-width: 767px) {
    .home .wrapper {
      background-image: url(../img/home-bg-mob.jpg);
      background-position: left bottom; } }

.home .main__content {
  padding-top: 9em; }
  @media (max-width: 767px) {
    .home .main__content {
      padding-top: 65px; } }

.home .header__logo {
  width: 5.8em; }

@media (max-width: 767px) {
  .home .header__logo {
    width: auto; }
    .home .header__logo img {
      width: 67px; } }

.homeSlider__wrap {
  float: right;
  width: 51%;
  padding: 2.1em 0em 2.1em 5.4em; }

.homeSlider__control {
  padding-top: 3.25em; }
  .homeSlider__control > * {
    display: inline-block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    vertical-align: middle; }
  .homeSlider__control i {
    font-size: 1.1em;
    cursor: pointer; }
    .homeSlider__control i:hover {
      color: #ff8a00; }

.homeSlider__count {
  font-size: 0.7em;
  margin: 0 1em;
  letter-spacing: 0.5em;
  text-align: center; }

.homeSlider__title {
  font-size: 2.4em;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 0.7em;
  font-weight: 700; }

.homeSlider__sub {
  font-size: .9em;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2.2em; }

.homeSlider__action {
  text-align: right; }
  .homeSlider__action a {
    color: #cdcdcd;
    font-size: .9em;
    display: inline-block;
    text-decoration: none; }
    .homeSlider__action a:hover {
      color: #ff8a00; }
  .homeSlider__action i {
    vertical-align: text-bottom;
    font-size: 1.2em;
    margin-left: 0.2em; }

.homeSlider .slick-slide {
  outline: 0; }

@media (max-width: 767px) {
  .homeSlider__wrap {
    float: none;
    width: auto;
    position: relative;
    padding: 58px 25px; }
  .homeSlider__title {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 29px; }
  .homeSlider__sub {
    font-size: 12px;
    margin-bottom: 31px; }
  .homeSlider__action {
    text-align: left;
    font-size: 11px; }
    .homeSlider__action i {
      font-size: 16px;
      vertical-align: sub; }
  .homeSlider__control {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 40px;
    font-size: 12px;
    text-align: right; } }

.content__left {
  float: left;
  width: 50%; }

.content__title {
  font-size: 2.4em;
  margin-bottom: 0.8em;
  font-weight: 700;
  text-transform: uppercase; }

.content__right {
  overflow: hidden; }

@media (max-width: 767px) {
  .content__left {
    float: none; }
  .content__title {
    font-size: 2.1em; } }

.hardware .content__left {
  text-align: center;
  width: 44%;
  margin-right: 14.2%; }

.hardware .content__title {
  margin-top: 3.9em; }

.hardware__item {
  margin-bottom: 9.1em; }

.hardware__img {
  margin-bottom: 1.7em; }

.hardware__name {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.8em;
  text-transform: uppercase; }

.hardware__sub {
  line-height: 1.5;
  margin-bottom: 1.4em; }

.hardware__list {
  font-size: 0.75em;
  margin-bottom: 2.6em; }

.hardware__listItem {
  padding-left: 2em;
  position: relative;
  margin-bottom: 0.5em;
  color: #686868; }
  .hardware__listItem:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 0.9em;
    height: 1em;
    background: url("../img/check-o.png") 0 0 no-repeat;
    background-size: 100%; }

.hardware__infograph {
  margin-bottom: 1.5em;
  letter-spacing: -0.06em; }

.hardware__infographItem {
  border: 2px solid #252525;
  display: inline-block;
  width: 1.5em;
  line-height: 1.4em;
  text-align: center;
  font-size: 1.7em;
  color: #cdcdcd;
  text-decoration: none;
  margin-right: .1em; }

.hardware__more {
  color: #cdcdcd;
  text-decoration: none;
  font-size: .8em; }
  .hardware__more:hover {
    color: #ff8a00; }
  .hardware__more i {
    font-size: 1.3em;
    margin-left: 0.4em;
    vertical-align: sub; }

.hardware .column {
  padding: 0 1em 2em;
  font-weight: 300;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 11em;
  column-gap: 11em;
  -webkit-column-width: auto;
  column-width: auto;
  vertical-align: top;
  line-height: 1.5; }
  .hardware .column p {
    margin-top: 0;
    display: inline-block;
    margin-bottom: 1.9em; }

@media (max-width: 767px) {
  .hardware .content__left {
    width: 100%;
    margin-right: 0; }
  .hardware .content__title {
    margin-top: 0.35em;
    margin-bottom: 1.5em; }
  .hardware .content__right {
    padding-left: 24px;
    padding-right: 26px; }
  .hardware__item {
    margin-bottom: 4em; }
  .hardware__img {
    margin-bottom: 1em; }
  .hardware__name {
    font-size: 1.2em;
    margin-bottom: 0.6em; }
  .hardware__sub {
    line-height: 1.4;
    font-size: 0.9em;
    margin-bottom: 1.4em; }
  .hardware__list {
    font-size: 0.65em;
    margin-bottom: 1.8em; }
  .hardware__listItem {
    line-height: 1.4;
    margin-bottom: 0.4em; }
  .hardware__infograph {
    margin-bottom: 0.9em; }
  .hardware__infographItem {
    width: 1.6em;
    line-height: 1.4em;
    font-size: 1.3em;
    margin-right: 0.24em; }
  .hardware__more {
    font-size: 0.7em; }
    .hardware__more i {
      font-size: 1.2em; }
  .hardware .column {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 11em;
    column-gap: 11em;
    -webkit-column-width: auto;
    column-width: auto;
    padding-left: 1.7em;
    padding-right: 1.7px; } }

.product .wrapper {
  background-position: right bottom; }

.product .content__left {
  margin-top: 2.3em;
  width: 58.3%;
  padding-top: 0.9em;
  padding-left: 0.8em;
  padding-right: 10.8em; }

.product .content__right {
  margin-top: 2.3em; }

.product__name {
  font-size: 2.4em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.8em; }

.product__sub {
  line-height: 1.5;
  margin-bottom: 2.3em; }

@media (max-width: 767px) {
  .product {
    margin-top: 0; }
    .product .content__left {
      max-width: 450px;
      width: 100%;
      padding: 0 0 25px;
      margin-top: 1em; }
    .product .content__right {
      max-width: 450px;
      width: 100%;
      margin-top: 0; }
    .product__name {
      font-size: 2.4em;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0.8em; }
    .product__sub {
      line-height: 1.5;
      margin-bottom: 2.3em; } }

.sliderPrev {
  margin-bottom: 2.5em; }
  .sliderPrev__item {
    outline: 0; }
    .sliderPrev__item img {
      display: block;
      width: 100%; }

.sliderThumbs__wrap {
  padding: 0 1.3em;
  position: relative; }
  .sliderThumbs__wrap .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -.6em;
    font-size: 1.1em;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .sliderThumbs__wrap .slick-arrow:hover {
      color: #ff8a00; }
  .sliderThumbs__wrap .slick-prev {
    left: -3px; }
  .sliderThumbs__wrap .slick-next {
    right: -4px; }
  .sliderThumbs__wrap .slick-current {
    border-color: #ff8a00; }

.sliderThumbs__item {
  margin: 0.5em;
  border: 2px solid transparent;
  cursor: pointer;
  outline: 0; }
  .sliderThumbs__item img {
    display: block;
    width: 100%; }

.contact .content__left {
  width: 58.1%;
  padding: 5.8em 2em 2em 5.4em; }

.contact .content__right {
  padding-top: 2.2em; }

.contact__tel {
  font-size: 2.3em;
  font-weight: 700;
  text-decoration: none;
  color: #cdcdcd;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  letter-spacing: -0.01em;
  margin-bottom: 0.8em;
  display: inline-block; }
  .contact__tel:hover {
    color: #ff8a00; }

.contact__address {
  font-size: .8em;
  font-weight: 500;
  margin-bottom: 1em; }

.contact__mail {
  font-size: .8em;
  color: #cdcdcd;
  text-decoration: none; }
  .contact__mail i {
    font-size: 1em;
    margin-right: 0.9em;
    margin-top: -1px;
    color: #686868;
    vertical-align: middle; }
  .contact__mail:hover {
    color: #ff8a00; }

.contact__form {
  width: 66.9%; }

.contact .main__content {
  padding-bottom: 17em; }

.contact .map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15em;
  background: url("../img/map.png") no-repeat center center;
  background-size: cover; }

@media (max-width: 767px) {
  .contact .content__left {
    width: 100%;
    padding: 1.7em 1.5em 3.4em; }
  .contact .content__right {
    padding: 0.3em 1.5em; }
  .contact__tel {
    font-size: 2em; }
  .contact__address {
    font-size: 0.7em;
    margin-bottom: 0.7em; }
  .contact__mail {
    font-size: .7em; }
  .contact__form {
    width: 100%; }
  .contact .main__content {
    padding-bottom: 5.7em; }
  .contact .map {
    position: static;
    margin-top: 2.4em; } }

.about .wrapper {
  background-position: right bottom; }

.about .content__title {
  font-size: 0.97em;
  margin-bottom: 1.9em; }

.about__content {
  font-size: 1.3em;
  margin: 2em auto;
  max-width: 44em; }
  .about__content p {
    line-height: 1.4;
    margin-bottom: 1.8em;
    font-weight: 300; }

@media (max-width: 767px) {
  .about__content {
    margin: 1em auto;
    font-size: 1.1em;
    padding-left: 1.3em;
    padding-right: 1.3em; }
    .about__content p {
      margin-bottom: 1.5em;
      line-height: 1.45; } }

.mobile {
  display: none; }
  @media (max-width: 767px) {
    .mobile {
      display: block; } }

.desktop {
  display: block; }
  @media (max-width: 767px) {
    .desktop {
      display: none; } }

.desktop-inline {
  display: inline-block; }
  @media (max-width: 767px) {
    .desktop-inline {
      display: none; } }

/*# sourceMappingURL=style.css.map */